.footer {
  color: $color-white;
  background-color: $color-primary;
  padding: 80px 0;

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 40px;
  }

  &__container {
    background-color: $color-five;
    padding-top: 30px;
  }

  &__space {
    margin-bottom: 50px;
  }

  &__list {
    padding-left: 0;

    &__title {
      font-size: 16px;
      font-weight: bold;
    }

    &__link {
      font-size: 14px;
      color: $color-white;
      text-decoration: none;

      &:hover {
        color: $color-eight;
      }
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__social {
    font-size: 16px;
    margin: 40px 0 30px;
  }

  &__main {
    display: flex;
    gap: 20px;
  }

  &__register {
    margin-bottom: 50px;
  }
}

@include media-breakpoint-up(md) {
  .footer {

    &__box {
      display: flex;
      flex-direction: column;
    }

    &__register {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .footer {

    &__register {
      justify-content: space-between;
    }

    &__last {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@include media-breakpoint-up(xl) {
  .footer {

    &__register {
      justify-content: space-around;
    }

    &__last {
      justify-content: flex-start;
      gap: 90px;
    }
  }
}