$color-primary: #252B42;
$color-secondary: #FFA62B;
$color-tertiary: #737373;
$color-four: #00A0C1;
$color-five: #16697A;
$color-eight: rgb(82, 137, 209);
$color-transparent: transparent;
$color-white: #fff;
$color-pastry: #f1ae48;
$color-animation: #eeb15c;
