$color-primary: #252B42;
$color-secondary: #FFA62B;
$color-tertiary: #737373;
$color-four: #00A0C1;
$color-transparent: rgba(236, 226, 212, 0.911);
$color-white: #fff;
$color-pastry: #f1ae48;

$tablet-width: 768px;
$desktop-width: 1050px;
